---
import right from '../../assets/right.svg'
interface Props {
    title:string;
    subtitle:string;
    appLogo:string;
    projectUrl:string;
    tools:{
        name:string;
        logo:string;
    }[];
}

const { title, subtitle, appLogo, projectUrl, tools} = Astro.props
---

<a class="card" href={import.meta.env.BASE_URL+projectUrl}>
    <div class="headline">
        <p class="title">{title}</p>
        <img src={appLogo} class="icon-large"/>
    </div>
    <p class="subtitle">{subtitle}</p>
    <div class="footer">
        <div class="tools">
            {tools.map((t)=>{
                return <img src={t.logo} class="icon-small"/>
            })}
        </div>
        <img src={right.src} class="icon-small"/>
    </div>
</a>

<style>
    .card{
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 16px;
        border:2px solid white;
        background: white;
        box-shadow: 0px 2px 2px 0px rgba(255, 232, 201, 0.50);
    }
    .card:hover{
        border: 2px solid #9D50D7 ;
    }
    .headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        gap:12px;
    }
    .icon-large{
        height: 28px;
        width: 28px;
    }
    .icon-small{
        height:16px;
        max-width:16px;
    }
    .title {
        color: #000;
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .subtitle{
        color: #906E41;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 90%;
        padding-bottom: 8px;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
        gap:8px;
    }
    .tools{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    @media (min-width: 800px) {
        .card{
            padding: 24px;
            gap: 24px;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 0 0;
            box-shadow: 0px 4px 4px 0px rgba(255, 232, 201, 0.50);
        }
        .icon-large{
            height: 40px;
            width: 40px;
        }
        .icon-small{
            height:20px;
            max-width:20px;
        }
        .title{
            font-size: 22px;
        }
        .subtitle{
            font-size: 18px;
            padding-bottom: 12px;
        }
        .footer{
            gap:12px
        }
        .tools{
            gap:12px;
        }
    }

</style>