---
import SectionHeader from "../SectionHeader.astro";
import LinkCard from "../cards/linkCard.astro";
import ServiceCard from "../cards/serviceCard.astro";
import ContactForm from "../contactForm.astro";
import linkedin from '../../assets/linkedin.svg'
import github from '../../assets/github.svg'
import gmail from '../../assets/gmail.svg'


const emailID = "p17nitinkg@iima.ac.in"
const linkedInUrl = "https://www.linkedin.com/in/nitin-gautam-70713073/"
const githubUrl = "https://github.com/kakashiorion"

---

<div id="contact">
  <SectionHeader
    title="Contact"
    subtitle="Want to collaborate? Reach out to me!"
  />
  <div class="main">
    <div class="first">
      <!-- <p class="subheading">CONTACT FORM</p> -->
      <ContactForm />
      <div class="divider"></div>
      <div class="links">
        <div class="link-row">
          <LinkCard logoUrl={gmail.src} title={emailID} visitUrl={`mailto:${emailID}`}/>
        </div>
        <div class="link-row">
          <LinkCard logoUrl={linkedin.src} title="LinkedIn" visitUrl={linkedInUrl}/>
          <LinkCard logoUrl={github.src} title="GitHub" visitUrl={githubUrl}/>
        </div>
      </div>
    </div>
    <div class="second">
      <p class="subheading">Services</p>
      <p>I can help you in:</p>
      <div class="service-list">
        <ServiceCard
          title="Creating business website"
          desc="You want to take your business online, but don't know where to start? Don't worry.. I can help you in setting up a digital presence for your business and creating an amazing website for your customers to find your products/services."
          index={1}
        />
        <div class="divider"></div>
        <ServiceCard 
          title="Developing web or mobile app"
          desc="You want to create a mobile app for your business? Or build a product for your startup? You are in luck.. I can help you in creating a product roadmap strategy as well as building a complete full stack web/mobile app from scratch that your customers will love."
          index={2}
        />
        <div class="divider"></div>
        <ServiceCard 
          title="Managing product development"
          desc="You have a team of developers and a product vision but don't have someone to lead the execution? With 4+ years of experience in product management and an MBA, I can help you in managing the end-to-end product development so that you can get your idea to your customers ASAP."
          index={3}
        />
        <div class="divider"></div>
        <ServiceCard 
          title="Designing brand identity"
          desc="You want to set up an online identity for your business that resonates with your values? I can help you in creating digital assets for your product/service, such as logo, blogs, forums, illustrations, posters, app/website design, etc., that your customers can connect with instantly."
          index={4}
        />
      </div>
    </div>
  </div>
</div>

<style>
  #contact {
    display: flex;
    padding: 48px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
    border-radius: 24px;
    /* border: 4px solid #b8dce8; */
    background: #EBF6FA;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
  }
  .first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .divider {
    height: 2px;
    align-self: stretch;
    background: #b8dce8;
  }
  .subheading{
    color: #707070;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }
  .link-row{
    display: flex;
    gap:12px;
    align-items: center;
    align-self: stretch;
  }
  .second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .service-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  @media (min-width: 800px) {
    #contact {
      padding: 48px;
      gap: 64px;
      /* border: 4px solid #b8dce8; */
    }
    .main {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    .first {
      gap: 32px;
      flex: 1 0 0;
    }
    .form {
      gap: 24px;
    }
    .subheading {
      font-size: 18px;
    }
    .links {
      gap: 16px;
    }
    .link-row{
      gap: 16px;
    }
    .second {
      gap: 24px;
      flex: 1 0 0;
      font-size: 24px;
    }
    .service-list {
      gap: 16px;
    }
  }
</style>

