---
import PageHeader from "../../components/PageHeader.astro";
import ProjectLinkCard from "../../components/cards/projectLinkCard.astro";
import Footer from "../../components/footer.astro";
import BackToTop from "../../components/backToTop.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import projects from "../../projects";
import type { ProjectType } from "../../projects";
import github from "../../assets/github.svg";
import right from "../../assets/down.svg";
import previous from "../../assets/previous.svg";
import webDemo from "../../assets/webDemo.svg";
import appDemo from "../../assets/appDemo.svg";
import { YouTube } from '@astro-community/astro-embed-youtube';

export function getStaticPaths() {
  return projects.map((project: ProjectType) => {
    return {
      params: { project: project.link },
      props: { project },
    };
  });
}

interface Props {
  project: ProjectType;
}
const { project } = Astro.props;
const nextProject = projects.find(p=>project.index==projects.length-1?p.index==0: p.index==project.index+1);
---

<ProjectLayout title={`Project - ${project.name}`}>
  <main id={`main-${project.index}`}>
    <PageHeader />
    <div class="proj-desc">
      <div class="proj-logo">
        <img src={project.appLogoUrl} class="icon-large" />
      </div>
      <div class="proj-info">
        <p class="title">{project.name}</p>
        <p class="subtitle">{project.desc}</p>
      </div>
    </div>
    <div class="proj-video">
      <YouTube id={project.videoUrl} class="video"/>
    </div>
    <div class="proj-section">
      <p class="proj-heading">Project links</p>
      <div class="links-list">
        <ProjectLinkCard logo={github.src} name={"Github"} link={project.githubUrl}/>
        <ProjectLinkCard logo={project.isMobile? appDemo.src: webDemo.src} name={project.isMobile? "Get APK":"Website"} link={project.isMobile? project.apkUrl:project.demoUrl}/>
      </div>
    </div>
    <div class="proj-section">
      <p class="proj-heading">Gallery</p>
      <div class="gallery-list">
        <div class="image-before"><img id="prev-image" src={project.gallery[project.gallery.length-1]} class="image-side" alt="Previous Image"/></div>
        <button id="prev-button" class="move-button"><img src={previous.src} class="move-icon"/></button>
        <div class=`image-current ${project.isMobile?'image-short':''}`><img id="curr-image" src={project.gallery[0]} class="image-main" alt="Current Image"/></div>
        <button id="post-button" class="move-button"><img src={previous.src} class="move-icon inverted"/></button>
        <div class="image-after"><img id="post-image" src={project.gallery[1]} class="image-side" alt="Next Image"/></div>
      </div>
    </div>
    <div class="proj-section">
      <p class="proj-heading">Tools/Frameworks</p>
      <div class="tools-list">
        {project.tools.map((tool)=>{
          return <div class="tool-card">
            <img src={tool.logo} alt="Tool logo icon" class="icon-small" />
            <p class="tool-name">{tool.name}</p>
          </div>
        })}
        </div>
    </div>
    <a class="next-section" href={`${import.meta.env.BASE_URL}projects/${nextProject?.link}`}>
      <div class="next-info">
        <p class="tool-name">View next project</p>
        <p class="proj-heading">{nextProject?.name}</p>
      </div>
      <div class="next-button">
        <img src={right.src} class="next-icon"/>
      </div>
    </a>
    <Footer />
    <BackToTop />
  </main>
</ProjectLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 24px;
    gap: 80px;
    background-color: white;
  }
  .proj-desc {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .proj-logo {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 16px;
    background: #000;
  }
  .icon-large {
    width: 64px;
    height: 64px;
  }
  .proj-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .title{
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .subtitle{
    color: #000;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .proj-video{
    display: flex;
    padding: 0px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
  }
  .video{
    width: 100%;
    max-width: 1080px;
  }
  .proj-heading{
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .proj-section{
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }
  .links-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: stretch;
  }
  .tools-list{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .tool-card{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .tool-name{
    color: #808080;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .icon-small{
    width: 32px;
    height: 32px;
  }
  .next-section{
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #9D50D7;
  }
  .next-section:hover{
    background-color: #f5eefc;
  }
  .next-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
  .next-button{
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #9D50D7;
  }
  
  .next-icon{
    height: 24px;
    width: 24px;
    transform: rotate(-90deg);
  }
  .inverted{
    transform: rotate(180deg);
    right:16px;
  }
  .move-button{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #fff;
    border:2px solid #000;
    z-index: 2;
    flex-shrink: 0;
  }
  .move-button:hover{
    background-color: #ddd;
  }
  .move-icon{
    height: 16px;
    width: 16px;
  }
  .gallery-list{
    display: flex;
    align-self: stretch;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    gap:8px;
  }
  .image-before{
    position: absolute;
    right: calc(100% - 48px);
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 60%;
  }
  .image-current{
    display: flex;
    border: 4px solid #000;
    border-radius: 12px;
    overflow: hidden;
  }
  .image-short{
    width:50%
  }
  .image-main{
    height: 100%;
    width: 100%;
  }
  .image-side{
    height:calc(100%/1.6);
  }
  .image-after{
    position: absolute;
    left: calc(100% - 48px);
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 60%;
  }

  @media (min-width: 800px) {
    main {
      padding: 80px 48px;
      margin: auto;
      gap: 120px;
      max-width: 1280px;
    }
    .proj-desc {
      gap: 64px;
    }
    .proj-logo {
      padding: 24px;
      gap: 16px;
      border-radius: 32px;
    }
    .icon-large {
      width: 160px;
      height: 160px;
    }
    .proj-info{
      gap: 32px;
    }
    .title {
      font-size: 48px;
    }
    .subtitle {
      font-size: 32px;
    }
    .proj-video{
      padding: 0px 80px;
    }
    .video{
    }
    .proj-heading{
      font-size: 32px;
    }
    .proj-section{
      padding: 48px 0px;
      gap: 48px;
    }
    .links-list{
      gap: 32px;
    }
    .tools-list{
      gap: 32px;
    }
    .tool-card{
      padding: 24px;
      gap: 20px;
    }
    .tool-name{
      font-size: 20px;
    }
    .icon-small{
      width: 48px;
      height: 48px;
    }
    .next-section{
      padding: 48px 80px;
    }
    .next-info{
      gap:16px;
    }
    .next-button{
      width: 64px;
      height: 64px;
    }
    .next-icon{
      height: 32px;
      width: 32px;
    }
    .move-icon{
      height: 24px;
      width: 24px;
    }
    .move-button{
      height: 48px;
      width: 48px;
    }
    .gallery-list{
      gap:16px;
      padding: 0px 16px;
    }
    .image-before{
      right: calc(100% - 64px);
    }
    .image-current{
      border: 8px solid #000;
      border-radius: 16px;
    }
    .image-short{
      width:33%
    }
    .image-after{
      left: calc(100% - 64px);
    }
  }
</style>

<script define:vars={{project}} >
  let currentImageIndex=0;
  const prevButton = document.getElementById("prev-button");
  const postButton = document.getElementById("post-button");
   
  prevButton.addEventListener("click",()=>{
    console.log("moving prev")
    currentImageIndex = currentImageIndex==0?project.gallery.length-1:currentImageIndex - 1;
    const prevImage = document.getElementById("prev-image");
    prevImage.src=project.gallery[currentImageIndex==0?project.gallery.length-1:currentImageIndex-1];
    const currImage = document.getElementById("curr-image");
    currImage.src=project.gallery[currentImageIndex];
    const postImage = document.getElementById("post-image");
    postImage.src=project.gallery[currentImageIndex==project.gallery.length-1?0:currentImageIndex+1];
  });
  
  postButton.addEventListener("click",()=>{
    console.log("moving post")
    currentImageIndex = currentImageIndex==project.gallery.length-1?0:currentImageIndex + 1;
    const prevImage = document.getElementById("prev-image");
    prevImage.src=project.gallery[currentImageIndex==0?project.gallery.length-1:currentImageIndex-1];
    const currImage = document.getElementById("curr-image");
    currImage.src=project.gallery[currentImageIndex];
    const postImage = document.getElementById("post-image");
    postImage.src=project.gallery[currentImageIndex==project.gallery.length-1?0:currentImageIndex+1];
  });

</script>